.home-background {
    background: url(assets/images/111111111.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-static {
    position: fixed;
    z-index: 10000;
}